
#main-header{
	background-color:#00468C;
	color:#fff;
}

#main-header a{
   
    color:#fff;
    text-decoration:none;
}
#main-header h1{
    padding:0.6rem;
    width:80%;
    margin:auto;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
    padding:1rem;
    list-style: none;
    width:80%;
    margin:auto;
}


#navbar li{
	display:inline;
}



#navbar span{
    float:right;
    margin:0;
}




#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;

}
#navbar a:hover{
	color:#00468C;
	/*NOTICE!!! */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:#E7FFF6;
    background-image:url('../images/ibg.jpg');
	background-size:     cover;                      /*fit to width*/
    background-repeat:   no-repeat;
    background-position: center center; 
    
  }


  body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
    background-color: #fff; 
    opacity:85%;
    
}
/* white bg */
.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
    
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#00468C), to(#55b2ff));
    background: linear-gradient(to right, #00468C, #55b2ff)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem;
    
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 50%;
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
    
    
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    
    
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:1rem;
	margin-top:40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:3% ;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f4f4f4;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown {
    float: right;
    overflow: hidden;
    margin-left: 10px;
  }
  
  .dropdown .dropbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;

	line-height:1.6em;
	padding-right: 20px;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown .dropbtn i:hover{
    color:#00468C;
}

.btn {
    display: block;
    width: 30%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    opacity:100%;
    margin:auto;
  }
  
  .btn:hover {
    background: #444;
  }

@media(max-width:600px){
    #main{
      width:100%;
      float:none;
    }
  }